<div class="card">
    <div class="row">
        <div class="col-md-9 cart">
            <!-- *********** title ************ -->
            <div class="title">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 style="margin: 0px;"><b>Shopping Cart</b></h4>
                    <button class="btn" (click)="onClearCart()" style="width: fit-content;margin: 0px;">CLEAR
                        CART</button>
                </div>
            </div>
            <!-- *********** products ************ -->
            <div class="row border-top border-bottom" *ngFor="let item of cart; let i = index">
                <div class="row main align-items-center">
                    <div class="col-md-2"><img class="img-fluid" src="{{item.product.image}}"></div>
                    <div class="col-md-5">
                        <div class="row text-muted">{{item.product.title}}</div>
                        <div class="row">{{item.product.category}}</div>
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <button class="myBtn" (click)="onMin(i)">-</button>
                        <input class="form-control" style="margin: 0 5px;" type="number" value="{{item.quantity}}"
                            (change)="onChangeQuantity(i,$event)">
                        <button class="myBtn" (click)="onMax(i)">+</button>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end">
                        &euro; {{(item.product.price * item.quantity) | number: '.2'}}
                        <button class="btn btn-danger" style="width: min-content;margin: 0 5px;"
                            (click)="onDelete(i)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********** summary ************ -->
        <div class="col-md-3 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="col" style="padding-left:0;">ITEMS {{cart.length}} </div>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro;{{total | number: '.2'}}</div>
            </div>
            <button class="btn" (click)="addCart()">CHECKOUT</button>
        </div>
    </div>

</div>