nav {
    background: linear-gradient(to right, #950b0b, #440606);
    color: white;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            // width: 20%;
            margin: 0;

            li {
                cursor: pointer;
                font-size: 22px;
                color: white;
                text-decoration: none;
                margin: 0 10px;
            }
        }
    }
}