<div class="item">
    <div routerLink="/products/details/{{itemIn.id}}">
        <img src="{{itemIn.image}}" alt="">
        <div class="body">
            <h4>{{itemIn.title}}</h4>
            <p>{{itemIn.description}}</p>
        </div>
    </div>
    <div class="px-1 mb-2 d-flex">
        <button class="btn btn-success" (click)="addButton=true" *ngIf="!addButton">Add to cart</button>
        <div class="d-flex w-50" *ngIf="addButton">
            <input class="form-control" type="number" [(ngModel)]="quantity">
            <button class="btn btn-success" (click)="addToCart(); addButton=false ">Add</button>
        </div>
        <span>{{itemIn.price}} dh</span>
    </div>
</div>